html{
	background: black;
}

.container {
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
	font-family: "Trebuchet MS";
	font-style: italic;
	font-size: 2.7em;
	color: orange;
	padding: 5px;
	width: 280px;
	border-style: solid;
	border-color: orange;
	border-radius: 10px;
    text-align: center;
}

#canvas{
	background: white;
}

#foot{
	color: white;
	text-align: center;
	font-size: 18px;
	/*letter-spacing: 1px;*/
}

#heart{
	color: red;
}

#nameLink{
	text-decoration: none;
	color: orange;
}